<div class="row">
  <div class="main">
    <div class="card">
      <h2 style="text-align: center;">Login to a world of opportunities!</h2>
      <form id="loginForm" method="post" action="loginUser">

        <div class="container">
          <label for="unametxt"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname">
          <span id="UserName" style="color:red"></span>
          <label for="pswTxt"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw">
          <span id="PasswordText"></span>
          <button type="submit">Login</button>
          <p id="successful"></p>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>
  </div>
</div>